{% extends 'base.html.twig' %}

{% block title %}Véhicules{% endblock %}

{% block body %}
    <div class="div-liste">
        <div id="div-tab">
            {% if errors is defined %}
                {% for error in errors %}
                    <div class="alert alert-danger" role="alert">{{ error.message|nl2br }}</div>
                {% endfor %}
            {% endif %}
            {{ form_start(formAjoutVehicule) }}
            <div class="div-detail mb-3">
                {{ form_label(formAjoutVehicule.fk_client) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formAjoutVehicule.fk_client) }}
                </div>
            </div>
            <div class="div-row mb-3 gap-3">
                <div class="div-select-line">
                    {{ form_label(formAjoutVehicule.fk_marque) }}
                    {{ form_widget(formAjoutVehicule.fk_marque) }}
                </div>
                <div class="div-select-line">
                    {{ form_label(formAjoutVehicule.fk_modele) }}
                    {{ form_widget(formAjoutVehicule.fk_modele) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formAjoutVehicule.fk_carburant) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formAjoutVehicule.fk_carburant) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formAjoutVehicule.annee) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formAjoutVehicule.annee) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formAjoutVehicule.kilometrage) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formAjoutVehicule.kilometrage) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formAjoutVehicule.immatriculation) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formAjoutVehicule.immatriculation) }}
                </div>
            </div>
        </div>
        <div class="div-envoi-form">
            <button id="btn-submit" type="submit" class="btn btn-success">Valider</button>
        </div>
        {{ form_end(formAjoutVehicule) }}
    </div>
{% endblock %}