{% extends 'base.html.twig' %}

{% block title %}Véhicules{% endblock %}

{% block body %}
    <div class="div-liste">
        <div class="div-boutons mb-3">
            <a href="{{ path('vehicule_ajouter') }}" class="btn btn-success" id="bouton-ajouter"><i class="fa-solid fa-plus"></i> Ajouter</a>
            {# Valeur par défaut pour la route sinon une erreur est générée. Cette valeur change au clic sur un bouton radio du tableau #}
            <a href="{{ path('vehicule_modifier', { id: '1'}) }}" class="btn btn-primary cacher" id="bouton-modifier"><i class="fa-solid fa-pen-to-square"></i> Modifier</a>
        </div>
        <div class="div-table">
            <table class="table table-hover table-bordered align-middle text-center">
                <thead class="thead-light align-middle">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">N° Véhicule</th>
                    <th scope="col">Client</th>
                    <th scope="col">Voiture</th>
                    <th scope="col">Immatriculation</th>
                </tr>
                </thead>
                <tbody>
                {% for unVehicule in lesVehicules %}
                    <tr>
                        <td id="radio-button-table">
                            <input type="radio" class="form-check-input" id="radio-input" name="radio-input" onclick="boutonModifier({{ unVehicule.id }});" />
                        </td>
                        <td data-label="id_voiture">{{ unVehicule.id }}</td>
                        <td data-label="client">{{ nomPrenom(unVehicule.getFKClient.getNom,unVehicule.getFKClient.getPrenom) }}</td>
                        <td data-label="voiture">{{ marqueModele(unVehicule.getFKMarque.getMarque, unVehicule.getFKModele.getModele) }}</td>
                        <td data-label="immatriculation">{{ unVehicule.Immatriculation }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-end fw-bold mt-2">
            <p class="mb-0">{{ lesVehicules|length}} véhicule{{ affichagePlusieursValeurs(lesVehicules|length) }}</p>
        </div>
    </div>
{% endblock %}
