{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <div class="div-liste">
        <div id="div-tab">
            {% if errors is defined %}
                {% for error in errors %}
                    <div class="alert alert-danger" role="alert">{{ error.message|nl2br }}</div>
                {% endfor %}
            {% endif %}
            {{ form_start(formAjoutIntervention) }}
            <div class="div-detail mb-3">
                {{ form_label(formAjoutIntervention.date_intervention) }}
                <div class="col-lg-5 col-md-6 row date-heure">
                    {{ form_widget(formAjoutIntervention.date_intervention) }}
                    {{ form_widget(formAjoutIntervention.heure_intervention) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formAjoutIntervention.fk_client) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formAjoutIntervention.fk_client) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formAjoutIntervention.fk_vehicule) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formAjoutIntervention.fk_vehicule) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formAjoutIntervention.fk_etat) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formAjoutIntervention.fk_etat) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formAjoutIntervention.detail_intervention) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formAjoutIntervention.detail_intervention) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formAjoutIntervention.duree_intervention) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formAjoutIntervention.duree_intervention) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formAjoutIntervention.montant_ht) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formAjoutIntervention.montant_ht) }}
                </div>
            </div>
        </div>
        <div class="div-envoi-form">
            <button id="btn-submit" type="submit" disabled class="btn btn-success">Valider</button>
        </div>
        {{ form_end(formAjoutIntervention) }}
    </div>
{% endblock %}