{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <div class="div-liste">
        <div id="div-tab">
            {% if errors is defined %}
                {% for error in errors %}
                    <div class="alert alert-danger" role="alert">{{ error.message|nl2br }}</div>
                {% endfor %}
            {% endif %}
            {{ form_start(formModificationIntervention) }}
            <div class="div-detail mb-3">
                {{ form_label(formModificationIntervention.date_intervention) }}
                <div class="col-lg-5 col-md-6 row mx-0">
                    {{ form_widget(formModificationIntervention.date_intervention) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formModificationIntervention.fk_client) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formModificationIntervention.fk_client) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formModificationIntervention.fk_vehicule) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formModificationIntervention.fk_vehicule) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formModificationIntervention.fk_etat) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formModificationIntervention.fk_etat) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formModificationIntervention.detail_intervention) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formModificationIntervention.detail_intervention) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formModificationIntervention.duree_intervention) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formModificationIntervention.duree_intervention) }}
                </div>
            </div>
            <div class="div-detail mb-3">
                {{ form_label(formModificationIntervention.montant_ht) }}
                <div class="col-lg-5 col-md-6">
                    {{ form_widget(formModificationIntervention.montant_ht) }}
                </div>
            </div>
        </div>
        <div class="div-envoi-form">
            {% if formModificationIntervention.fk_etat.vars.attr.disabled == true %}
                <button id="btn-submit" type="submit" disabled class="btn btn-success">Valider</button>
            {% else %}
                <button id="btn-submit" type="submit" class="btn btn-success">Valider</button>
            {% endif %}
        </div>
        {{ form_end(formModificationIntervention) }}
    </div>
{% endblock %}