{% extends 'base_admin.html.twig' %}

{% block title %}Liste modèles{% endblock %}

{% block body %}
    <div class="d-flex flex-column gap-2">
        <div class="d-flex justify-content-between align-items-center">
            <a href="{{ path('modele_admin_ajouter') }}" class="btn btn-success fs-13">Ajouter</a>
            <form action="{{ path('modele_admin_index') }}" method="GET" class="fs-13">
                <label for="filter-admin" class="mb-0 p-0 d-flex justify-content-end">Nombre lignes :</label>
                <select id="filter-admin" class="form-select form-select-sm fs-13" name="max" onchange="submit();">
                    {% for unChoix in choixListe %}
                        <option
                                {% if app.request.query.get('max') is not null and unChoix == app.request.query.get('max') %}selected{% endif %}
                                value="{{ unChoix }}">{{ unChoix }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            {{ knp_pagination_render(lesModeles) }}
        </div>
        {% for notice in app.flashes('modele') %}
            <div class="alert alert-danger" role="alert">{{ notice|nl2br }}</div>
        {% endfor %}
        <div id="div-table">
            <table class="table table-admin table-admin-marque table-responsive table-hover table-bordered text-center align-middle">
                <thead class="table-light align-middle">
                <tr>
                    <th class="w-15 {% if lesModeles.isSorted('mo.id') %}sorted{% endif %}">{{ knp_pagination_sortable(lesModeles, 'Id', 'mo.id') }}</th>
                    <th class="w-30 {% if lesModeles.isSorted('ma.marque') %}sorted{% endif %}">{{ knp_pagination_sortable(lesModeles, 'Marque', 'ma.marque') }}</th>
                    <th class="w-30 {% if lesModeles.isSorted('mo.modele') %}sorted{% endif %}">{{ knp_pagination_sortable(lesModeles, 'Modèle', 'mo.modele') }}</th>
                    <th class="w-15">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for unModele in lesModeles %}
                    <tr>
                        <td class="w-15">{{ unModele[0].id }}</td>
                        <td class="w-30">{{ unModele[0].getFkMarque.getMarque }}</td>
                        <td class="w-30">{{ unModele[0].modele }}</td>
                        <td>
                            <div class="div-boutons-admin">
                                {% if unModele.nombreVehicule == 0 %}
                                    <a href="{{ path('modele_admin_modifier', { 'id': unModele[0].id }) }}" class="btn btn-warning fs-11 text-dark"><i class="fa-solid fa-pen"></i></a>
                                    {{ include('admin/admin_modele/_delete_form.html.twig') }}
                                {% else %}
                                    <p class="mb-0">Action désactivée</p>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}