{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <div class="div-liste">
        <div class="div-boutons mb-3">
            <a href="{{ path('client_ajouter') }}" class="btn btn-success" id="bouton-ajouter"><i class="fa-solid fa-plus"></i> Ajouter</a>
            {# Valeur par défaut pour la route sinon une erreur est générée. Cette valeur change au clic sur un bouton radio du tableau #}
            <a href="{{ path('client_modifier', { id: '1'}) }}" class="btn btn-primary cacher" id="bouton-modifier"><i class="fa-solid fa-pen-to-square"></i> Modifier</a>
        </div>
        <div class="div-table">
            <table class="table table-hover table-bordered align-middle text-center">
                <thead class="thead-light align-middle">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">N° Client</th>
                    <th scope="col">Client</th>
                    <th scope="col">Coordonnées</th>
                    <th scope="col">Adresse complète</th>
                </tr>
                </thead>
                <tbody>
                {% for unClient in lesClients %}
                    <tr>
                        <td id="radio-button-table">
                            <input type="radio" class="form-check-input" id="radio-input" name="radio-input" onclick="boutonModifier({{ unClient.id }});"/>
                        </td>
                        <td data-label="id_client">{{ unClient.id }}</td>
                        <td data-label="client">{{ nomPrenom(unClient.Nom,unClient.Prenom) }}</td>
                        <td data-label="coordonnees">{{ numTelEmail(unClient.Tel,unClient.Email)|raw }}</td>
                        <td data-label="adresse_complète">{{ adresseComplete(unClient.Adresse,unClient.getSuiteAdresse,unClient.getCodePostal,unClient.Ville) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-end fw-bold mt-2">
            <p class="mb-0">{{ lesClients|length}} client{{ affichagePlusieursValeurs(lesClients|length) }}</p>
        </div>
    </div>
{% endblock %}