{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <div class="div-liste">
        {% for notice in app.flashes('client') %}
            <div class="alert alert-danger" role="alert">{{ notice|nl2br }}</div>
        {% endfor %}
        <div class="div-boutons mb-3">
            <a href="{{ path('client_ajouter') }}" class="btn btn-success" id="bouton-ajouter"><i class="fa-solid fa-plus"></i> Ajouter</a>
            {# La valeur pour la route suivant change au clic sur un bouton radio du tableau #}
            <a href="{{ path('client_modifier') }}" class="btn btn-primary cacher" id="bouton-modifier"><i class="fa-solid fa-pen-to-square"></i> Modifier</a>
        </div>
        <div class="div-table">
            <table class="table table-hover table-bordered align-middle text-center">
                <thead class="thead-light align-middle">
                <tr>
                    {{ form_start(formFiltreTable) }}
                    <th scope="col"></th>
                    <th scope="col">
                        {{ form_label(formFiltreTable.id_client) }}
                        {{ form_widget(formFiltreTable.id_client) }}
                    </th>
                    <th scope="col">
                        {{ form_label(formFiltreTable.client) }}
                        {{ form_widget(formFiltreTable.client) }}
                    </th>
                    <th scope="col">
                        {{ form_label(formFiltreTable.coordonnees) }}
                        {{ form_widget(formFiltreTable.coordonnees) }}
                    </th>
                    <th scope="col">
                        {{ form_label(formFiltreTable.adresse_complete) }}
                        {{ form_widget(formFiltreTable.adresse_complete) }}
                    </th>
                    {{ form_end(formFiltreTable) }}
                </tr>
                </thead>
                <tbody>
                {% if lesClients is not empty %}
                    {% for unClient in lesClients %}
                        <tr>
                            <td id="radio-button-table">
                                <input type="radio" class="form-check-input" id="radio-input" name="radio-input" onclick="boutonModifier({{ unClient.id }});" />
                            </td>
                            <td data-label="id_client">{{ unClient.id }}</td>
                            <td data-label="client">{{ nomPrenom(unClient.Nom,unClient.Prenom) }}</td>
                            <td data-label="coordonnees">{{ numTelEmail(unClient.Tel,unClient.Email)|raw }}</td>
                            <td data-label="adresse_complète">{{ adresseComplete(unClient.Adresse,unClient.getSuiteAdresse,unClient.getCodePostal,unClient.Ville) }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">Aucune donnée.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="text-end fw-bold mt-2">
            <p class="mb-0">{{ lesClients|length}} client{{ affichagePlusieursValeurs(lesClients|length) }}</p>
        </div>
    </div>
{% endblock %}