{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <div class="div-liste">
        <div class="div-table">
            <table class="table table-hover table-bordered align-middle text-center">
                <thead class="thead-light align-middle">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">N° Client</th>
                    <th scope="col">Client</th>
                    <th scope="col">Coordonnées</th>
                    <th scope="col">Adresse complète</th>
                </tr>
                </thead>
                <tbody>
                {% for unClient in lesClients %}
                    <tr>
                        <td id="radio-button-table">
                            <input type="radio" class="form-check-input" id="radio-input" name="radio-input" />
                        </td>
                        <td data-label="N° Client">{{ unClient.id }}</td>
                        <td data-label="Client">{{ nomPrenom(unClient.Nom,unClient.Prenom) }}</td>
                        <td data-label="Coordonnées">{{ numTelEmail(unClient.Tel,unClient.Email)|raw }}</td>
                        <td data-label="Adresse complète">{{ adresseComplete(unClient.Adresse,unClient.getSuiteAdresse,unClient.getCodePostal,unClient.Ville) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-end fw-bold mt-2">
            <p class="mb-0">{{ lesClients|length}} client{{ affichagePlusieursValeurs(lesClients|length) }}</p>
        </div>
    </div>
{% endblock %}