<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - G.V.D</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('bootstrap') }}
            {{ encore_entry_link_tags('fontawesome') }}
            {{ encore_entry_link_tags('select2-style') }}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('jquery') }}
            {{ encore_entry_script_tags('select2') }}
            {{ encore_entry_script_tags('select2-fr') }}
            {{ encore_entry_script_tags('functions') }}
        {% endblock %}
    </head>
    <body class="bg-default">
        {{ include("header.html.twig") }}
        <div class="div-container flex-1 py-3">
            <div id="contenu">
                {% block body %}{% endblock %}
            </div>
        </div>
        {{ include("footer.html.twig") }}
    </body>
</html>
