<nav class="navbar navbar-dark p-content">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" id="navbar-admin">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="titre-page">
        <p class="mb-0">{{ titrePage(app.request.attributes.get('_route')) }}</p>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div id="menu-liens" class="navbar-nav flex-column">
                <a class="nav-item nav-link {{ menuActif(app.request.attributes.get('_route'), "client") }}" href="{{ path('client_index') }}">Clients</a>
                <a class="nav-item nav-link {{ menuActif(app.request.attributes.get('_route'), "vehicule") }}" href="{{ path('vehicule_index') }}">Véhicules</a>
                <a class="nav-item nav-link {{ menuActif(app.request.attributes.get('_route'), "intervention") }}" href="{{ path('intervention_index') }}">Interventions</a>
                <a class="nav-item nav-link {{ menuActif(app.request.attributes.get('_route'), "facture") }}" href="{{ path('facture_index') }}">Factures</a>
            </div>
            <div id="menu-admin">
                <div class="flex-row justify-content-center">
                    <a href="{{ path('app_deconnexion') }}" class="nav-item nav-link pr-2" title="Se déconnecter">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </a>
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="flex-column text-center">
                    <p class="mb-0 text-dark">{{ nomPrenom(app.user.nom, app.user.prenom) }}</p>
                </div>
            </div>
            <div id="menu-admin-lien">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-item nav-link text-dark" id="lien-admin" href="{{ path('facture_admin_index') }}">Accès administrateur</a>
                {% endif %}
            </div>
        </div>
    </div>
    <img src="{{ asset('images/logo_cercle.png') }}" alt="logo" id="logo" class="rounded float-left" title="Logo du Garage Vendelais" />
</nav>