{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <div class="div-liste">
        <div id="div-tab">
            {% if errors is defined %}
                {% for error in errors %}
                    <div class="alert alert-danger" role="alert">{{ error.message|nl2br }}</div>
                {% endfor %}
            {% endif %}
            {{ form_start(formAjoutFacture) }}
                <div class="div-detail mb-3">
                    {{ form_label(formAjoutFacture.date_facture) }}
                    <div class="col-lg-5 col-md-6">
                        {{ form_widget(formAjoutFacture.date_facture) }}
                    </div>
                </div>
                <div class="div-detail mb-3">
                    {{ form_label(formAjoutFacture.fk_client) }}
                    <div class="col-lg-5 col-md-6">
                        {{ form_widget(formAjoutFacture.fk_client) }}
                    </div>
                </div>
                <div class="div-detail mb-3">
                    {{ form_label(formAjoutFacture.fk_taux) }}
                    <div class="col-lg-5 col-md-6">
                        {{ form_widget(formAjoutFacture.fk_taux) }}
                    </div>
                </div>
            <div id="tab-fact-ajout" class="mb-3">
                <table class="table text-center align-middle" id="table-interventions">
                    <thead class="thead-light align-middle">
                    <tr>
                        <th width="15%" scope="col">Date</th>
                        <th width="20%" scope="col">Voiture</th>
                        <th width="35%" scope="col">Détail intervention</th>
                        <th width="10%" scope="col">Durée</th>
                        <th width="20%" scope="col">Montant HT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr-table-fact" id="tr-tab">
                        <td colspan="5" scope="row" class="align-middle">Veuillez sélectionner un client.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="div-row mb-3 gap-0">
                <div class="div-column mb-3">
                    <div class="div-paiement mb-3 div-column-responsive">
                        {{ form_label(formAjoutFacture.fk_moyen_paiement) }}
                        {{ form_widget(formAjoutFacture.fk_moyen_paiement) }}
                    </div>
                    <div class="div-paiement mb-3 div-column-responsive">
                        {{ form_label(formAjoutFacture.date_paiement) }}
                        {{ form_widget(formAjoutFacture.date_paiement) }}
                    </div>
                </div>
                <div class="div-column mb-3">
                    <div class="div-total mb-3 div-column-responsive justify-content-end">
                        <div class="div-titre-montant">
                            <p class="p-montant">Montant HT :</p>
                        </div>
                        <div class="div-p-montant">
                            <p id="total-ht" class="p-montant">0,00 €</p>
                        </div>
                        {{ form_widget(formAjoutFacture.montant_ht) }}
                    </div>
                    <div class="div-total mb-3 div-column-responsive justify-content-end">
                        <div class="div-titre-montant">
                            <p class="p-montant">Montant TVA :</p>
                        </div>
                        <div class="div-p-montant">
                            <p id="total-tva" class="p-montant">0,00 €</p>
                        </div>
                        {{ form_widget(formAjoutFacture.montant_tva) }}
                    </div>
                    <div class="div-total mb-3 div-column-responsive justify-content-end">
                        <div class="div-titre-montant">
                            <p class="p-montant">Montant TTC :</p>
                        </div>
                        <div class="div-p-montant">
                            <p id="total-ttc" class="p-montant">0,00 €</p>
                        </div>
                        {{ form_widget(formAjoutFacture.montant_ttc) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="div-envoi-form">
            <button id="btn-submit" disabled type="submit" class="btn btn-success">Valider</button>
        </div>
        {{ form_end(formAjoutFacture) }}
    </div>
{% endblock %}