{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
    <div class="div-liste">
        {% for notice in app.flashes('facture_mail_success') %}
            <div class="alert alert-success" role="alert">{{ notice|nl2br }}</div>
        {% endfor %}
        {% for notice in app.flashes('facture') %}
            <div class="alert alert-danger" role="alert">{{ notice|nl2br }}</div>
        {% endfor %}
        <div class="div-boutons mb-3">
            <a href="{{ path('facture_ajouter') }}" class="btn btn-success" id="bouton-ajouter"><i class="fa-solid fa-plus"></i> Ajouter</a>
            {# La valeur pour la route suivant change au clic sur un bouton radio du tableau #}
            <a href="{{ path('facture_modifier') }}" class="btn btn-primary cacher" id="bouton-modifier"><i class="fa-solid fa-pen-to-square"></i> Modifier</a>
            <a href="{{ path('facture_telecharger') }}" class="btn btn-secondary cacher" id="bouton-telecharger" target="_blank">Télécharger</a>
            <a href="{{ path('facture_envoyer') }}" class="btn btn-light cacher" id="bouton-envoyer">Envoyer</a>
        </div>
        <div class="div-table">
            <table class="table table-hover table-bordered align-middle text-center">
                <thead class="thead-light align-middle">
                <tr>
                    {{ form_start(formFiltreTable) }}
                    <th scope="col"></th>
                    <th scope="col">
                        {{ form_label(formFiltreTable.id_facture) }}
                        {{ form_widget(formFiltreTable.id_facture) }}
                    </th>
                    <th scope="col">
                        {{ form_label(formFiltreTable.date_facture) }}
                        {{ form_widget(formFiltreTable.date_facture) }}
                    </th>
                    <th scope="col">
                        {{ form_label(formFiltreTable.client) }}
                        {{ form_widget(formFiltreTable.client) }}
                    </th>
                    <th scope="col">
                        {{ form_label(formFiltreTable.montant_ht) }}
                        {{ form_widget(formFiltreTable.montant_ht) }}
                    </th>
                    {{ form_end(formFiltreTable) }}
                </tr>
                </thead>
                <tbody>
                {% if lesFactures is not empty %}
                    {% for uneFacture in lesFactures %}
                        <tr>
                            <td id="radio-button-table">
                                <input type="radio" class="form-check-input" id="radio-input" name="radio-input" onclick="boutonsFacture({{ uneFacture.id }});" />
                            </td>
                            <td data-label="id_facture">{{ uneFacture.id }}</td>
                            <td data-label="date_facture">{{ dateEnFrancais(uneFacture.getDateFacture) }}</td>
                            <td data-label="client">{{ nomPrenom(uneFacture.getFKClient.getNom,uneFacture.getFKClient.getPrenom) }}</td>
                            <td data-label="montant_ht">{{ formatMontantEuros(uneFacture.getMontantHT) }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">Aucune donnée.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="text-end fw-bold mt-2">
            <p class="mb-0">{{ lesFactures|length}} facture{{ affichagePlusieursValeurs(lesFactures|length) }}</p>
        </div>
    </div>
{% endblock %}
